<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/plantilla :: head">
	<title>Datos de la Persona</title>
	<meta charset="UTF-8" />
</head>

<body>
	<header th:replace="layout/plantilla :: header"></header>

	<h2>[[#{persona.formulario}]]</h2>
	<a th:href="@{/}">[[#{accion.regresar}]]</a>
	<br />
	<form th:action="@{/guardar}" method="post" th:object="${persona}">
		<input type="hidden" name="idPersona" th:field="*{idPersona}" />
		<br />
		<label for="documento">[[#{persona.documento_persona}]]:</label>
		<input type="text" name="documento" th:field="*{documento_persona}" />
		<span th:if="${#fields.hasErrors('documento_persona')}" th:errors="*{documento_persona}">Error Documento</span>
		<br />
		<label for="nombre">[[#{persona.nombre_persona}]]:</label>
		<input type="text" name="nombre" th:field="*{nombre_persona}" />
		<span th:if="${#fields.hasErrors('nombre_persona')}" th:errors="*{nombre_persona}">Error Nombre</span>
		<br />
		<label for="apellido">[[#{persona.apellido_persona}]]:</label>
		<input type="text" name="apellido" th:field="*{apellido_persona}" />
		<span th:if="${#fields.hasErrors('apellido_persona')}" th:errors="*{apellido_persona}">Error Apellido</span>
		<br />
		<label for="estado">[[#{persona.estado_persona}]]:</label>
		<input type="checkbox" name="estado_persona" th:field="*{estado_persona}" />
		<br />
		<input type="submit" name="guardar" th:value="#{accion.guardar}" />
	</form>

	<footer th:replace="layout/plantilla :: footer"></footer>

</body>

</html>